Repository betflop/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, backend-report

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

backend-report:
  stage: module-pipelines
  trigger:
    include:
    - /backend-report/.gitlab-ci.yml
    strategy: depend

Update deploy.sh
  deploy.sh
Due: none

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Delete backend_deploy.sh
  backend/backend_deploy.sh
Due: backend

Delete frontend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

Update backend-report_deploy.sh
  backend-report/backend-report_deploy.sh
Due: backend-report

Delete backend-report_deploy.sh
  backend-report/backend-report_deploy.sh
Due: backend-report

Update .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: backend-report

Upload New File
  backend-report/settings.xml
Due: backend-report

Update pom.xml
  backend-report/pom.xml
Due: backend-report

Update MongoSkipSSLConfig.java
  backend-report/src/main/java/com/yandex/practicum/devops/MongoSkipSSLConfig.java
Due: backend-report

Update settings.xml
  backend-report/settings.xml
Due: backend-report

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: none

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
  backend-report: any of: backend-report/**/*
