Repository betflop/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, backend-report

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

backend-report:
  stage: module-pipelines
  trigger:
    include:
    - /backend-report/.gitlab-ci.yml
    strategy: depend

Delete nginx.tmpl
  nginx.tmpl
Due: none

Upload New File
  frontend/nginx.tmpl
Due: frontend

Update Dockerfile
  frontend/Dockerfile
Due: frontend

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

Update docker-compose.yml
  docker-compose.yml
Due: none

Update deploy.sh
  deploy.sh
Due: none

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
  backend-report: any of: backend-report/**/*
