Repository betflop/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, backend-report

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

backend-report:
  stage: module-pipelines
  trigger:
    include:
    - /backend-report/.gitlab-ci.yml
    strategy: depend

Update .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: backend-report

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

Update deploy.sh
  deploy.sh
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: none

Microservices
  .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
  backend-report/pom.xml
  backend-report/settings.xml
  backend-report/src/main/java/com/yandex/practicum/devops/MongoSkipSSLConfig.java
  backend-report/src/main/resources/application.properties
  backend/.gitlab-ci.yml
  backend/backend_deploy.sh
  deploy.sh
  docker-compose.yml
  frontend/.gitlab-ci.yml
  frontend/frontend_deploy.sh
Due: frontend, backend, backend-report

Add new file
  nginx.tmpl
Due: none

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
  backend-report: any of: backend-report/**/*
